# Node dependencies
node_modules/
**/node_modules/

# Environment secrets
.env
**/.env
.env.local
**/.env.local

# Firebase Service Account Keys
*.json
!package.json
!package-lock.json

# IDE / Logs
*.log
**/*.log
.vscode/
.idea/
.DS_Store